# EMERTRACK — Environment Variables


# -----------------------------------------------------------------------------
# BACKEND
# -----------------------------------------------------------------------------

# Backend Port (host & container — used directly in docker-compose.yml)
BACKEND_PORT=<your_port>

# Connection to PostgreSQL
DATABASE_URL=postgres://postgres:CHANGE_ME@emertrack-db:5432/emertrack?sslmode=disable

# Secret key for signing JWT
JWT_SECRET=CHANGE_ME


# -----------------------------------------------------------------------------
# SMTP (Email)
# -----------------------------------------------------------------------------

SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=your_smtp_user
SMTP_PASS=CHANGE_ME
SMTP_FROM=no-reply@yourdomain.com


# -----------------------------------------------------------------------------
# S3 / MinIO (Object Storage)
# -----------------------------------------------------------------------------

S3_ENDPOINT=http://emertrack-minio:9000
S3_ACCESS_KEY=CHANGE_ME
S3_SECRET_KEY=CHANGE_ME
S3_BUCKET=emertrack
S3_REGION=us-east-1


# -----------------------------------------------------------------------------
# DATABASE (docker-compose.yml)
# -----------------------------------------------------------------------------

# Password postgres — harus sama dengan yang ada di DATABASE_URL di atas
DB_PASSWORD=CHANGE_ME

# Host port for PostgreSQL — mapped in docker-compose.yml
DB_PORT=5433


RUN_SEEDER=true

SEED_SITE_CODE=SITE_CODE
SEED_SITE_NAME=SITE NAME
SEED_DEPT_CODE=DEPT_CODE
SEED_DEPT_NAME=DEPT NAME
SEED_ADMIN_NIK=0000000001
SEED_ADMIN_NAME=Super Admin
SEED_ADMIN_EMAIL=admin@yourdomain.com
SEED_ADMIN_PASSWORD=CHANGE_ME

# EMAIL Emertrack
NEXT_PUBLIC_EMAIL_EMERTRACK=your_email

# -----------------------------------------------------------------------------
# FRONTEND
# -----------------------------------------------------------------------------

# Backend URL
NEXT_PUBLIC_API_URL=https://<your-ip>:8443/api/v1

# Bucket URL
NEXT_PUBLIC_MINIO_URL=https://<your-ip>:8443/storage

# Frontend URL
FRONTEND_BASE_URL=https://<your-ip>:8443

# Port database 
DB_PORT=5432

# Port MinIO API & Console di host
MINIO_API_PORT=<your_port>
MINIO_CONSOLE_PORT=<your_port>

# Host & container port for frontend
FRONTEND_PORT=3000


# -----------------------------------------------------------------------------
# NGINX
# -----------------------------------------------------------------------------

# Host port exposed for HTTPS
NGINX_HTTPS_PORT=<your_port>

# server_name in nginx.conf 
NGINX_SERVER_NAME=<your-ip>
