# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
emertrack

# Test binary
*.test

# Output
*.out

# Dependency directories
vendor/

# Environment
.env
*.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

.env
hash.go
mocks.zip
*.zip
